# ── Database ──────────────────────────────────────────
DATABASE_URL=postgresql://postgres:password@localhost:5432/lenslinkup

# ── Redis ─────────────────────────────────────────────
REDIS_URL=redis-13302.c257.us-east-1-3.ec2.cloud.redislabs.com:13302
# REDIS_URL=redis://localhost:6379

# ── JWT ───────────────────────────────────────────────
JWT_ACCESS_SECRET=change_me_access_secret_at_least_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_at_least_32_chars

# ── API ───────────────────────────────────────────────
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://35.154.114.186:3000

# ── Next.js ───────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://35.154.114.186:4000
